/* Reset e vídeo de fundo */
body {
    margin: 0;
    padding: 0;
    height: 100vh;   /* trava o body na altura da tela */
    overflow: hidden;
}

.imagems {
    position: relative;
    top: -15%;
    left: 27%;
    width: 600px;    
    height: -100px; 
}

#bg-video {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}


button {
    margin: 10px;
    border: none;
    font-size: 17px;
    font-family: "Bitcount Prop Single", system-ui;
    width: 300px;
    height: 50px;
    background-image: url(img/botão.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    color: white;
}

button:hover {
    transform: scale(1.1);
}



.comezo {
    position: relative;
    z-index: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.bmo {
    position: relative;
    top: -520px;
    left: 0px;
}

.bmo:hover{
    border: 2px solid rgb(255, 255, 255);
    cursor: default;
}

.matrix {
    position: relative;
    top: -520px;
    left: 0px;
}

.matrix:hover{
    border: 2px solid rgb(255, 255, 255);
    cursor: default;
}

.ben10 {
    position: relative;
    top: -313px;
    left: -0%;
}

.ben10:hover{
    border: 2px solid rgb(255, 255, 255);
    cursor: default;
}

.imagem {
    position: relative;
    top: 50px;
    left: 0%;
}

.pulsar {
    position: relative;
    top: -360px;
    left: 810px;
    width: 200px; 
    animation: pulsar 1s infinite; 
    display: block;

  }
  
  @keyframes pulsar {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); } 
    100% { transform: scale(1); }  
  }
  